
.logo{
    height:60px;
    width:60px;
    background-color: rgb(0, 255, 55);
    border-radius:29px;
    margin:20px;
}

.header-bar{
    background-color: rgb(4, 57, 117);
    display:flex;
    justify-content:space-between;
    margin:0px;
    text-decoration:none;
    height:100px;
    align-items: center;
}

.heading-list{
    display:flex;
    justify-content: center;
    gap:80px;
    margin-left:10px;
    margin-right:80px;
    align-items: center;
    color:bisque;
    list-style-type:none;
}
a {
    color:bisque;
    text-decoration: none;
    font-weight: 900;
    font-size:23px;
    font-family:'Courier New', Courier, monospace;
}

.topic{
    text-align: center;
    font-size: 50px;
    font-weight:800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}