
.logo{
    height:60px;
    width:60px;
    background-color: rgb(0, 255, 55);
    border-radius:29px;
    margin:20px;
}

.header-bar{
    background:linear-gradient(0.25turn, #5b608f, #4b4e77, #393b65, #2a2b55, #191943);
    display:flex;
    justify-content:space-between;
    margin:0px;
    text-decoration:none;
    height:100px;
    align-items: center;
    border-radius:12px;
}

.heading-list{
    display:flex;
    justify-content: center;
    gap:80px;
    margin-left:10px;
    margin-right:80px;
    align-items: center;
    color:bisque;
    list-style-type:none;
}
a {
    color:bisque;
    text-decoration: none;
    font-weight: 900;
    font-size:23px;
    font-family:'Courier New', Courier, monospace;
}

.topic{
    text-align: center;
    font-size: 50px;
    font-weight:800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.box1{
    background:radial-gradient(circle, white,rgb(247, 208, 161), rgb(255, 160, 160));
    padding:10px;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    max-width:70%;
}
.day-headings{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}