
.logo{
    height:60px;
    width:60px;
    background-color: rgb(0, 255, 55);
    border-radius:29px;
    margin:20px;
}

.header-bar{
    background:linear-gradient(0.25turn, #5b608f, #4b4e77, #393b65, #2a2b55, #191943);
    display:flex;
    justify-content:space-between;
    margin:0px;
    text-decoration:none;
    height:100px;
    align-items: center;
    border-radius:12px;
}

.heading-list{
    display:flex;
    justify-content: center;
    gap:80px;
    margin-left:10px;
    margin-right:80px;
    align-items: center;
    color:bisque;
    list-style-type:none;
}
a {
    color:bisque;
    text-decoration: none;
    font-weight: 900;
    font-size:23px;
    font-family:'Courier New', Courier, monospace;
    animation: 0.5s infinite ease-in-out;
}

.topic{
    text-align: center;
    font-size: 50px;
    font-weight:800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.day-box{
    background:radial-gradient(circle, white,rgb(247, 208, 161), rgb(255, 160, 160));
    padding:50px;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    max-width:65%;
    line-height: 1.6;
    font-family:'Helvetica Neue', sans-serif;
    font-size:17px;
    height:430px;
    overflow-x: hidden;
    overflow-y: auto;

}

.day-headings{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.table-of-content{
    position: fixed;
    top: 200px;
    right:100px;
    background: linear-gradient(#e8f0fe,#d2e3fc,#aecbfa,#a1c4fc, #8ab4f8, #669df6, #4285f4, #1a73e8,#1967d2,#185abc,#174e86);
    height:500px;
    width:300px;
    border-radius: 15px;
    padding :20px;
}

.priviyet{
    display:flex;
    flex-direction: column;
    max-width:70%;
    height: 800px;
}

h2.priviyet-heading {
    color:#393b65;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.priviyet-box{
    display:flex;
    justify-content: space-between;
}

.priviyet-main{
    background-color:blue;
    flex-grow:1;
    padding:30px;
    border-radius: 30px;
    margin-right: 10px;
    line-height:1.6;
    background: linear-gradient(to top ,#0b2f61,#0a3f8f,#507faf,#7DA0CA,#C1E8FF);
    height:550px;
}
.priviyet-headings{
    font-size:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color:#121746;
}

.toc_priviyet{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:linear-gradient(#CCD0CD,#9BA8AB,#4D96A6,#253745,#11212D,#06141B);
    padding:30px;
    border-radius:30px;
    width: 300px;
    height:550px;
}
#priviyet_toc_list li a{
    color:rgb(9, 68, 65);
    text-decoration: none;
    font-weight: 900;
    font-size:16px;
    font-family:'Courier New', Courier, monospace;
    animation: 0.5s infinite ease-in-out;
    list-style-type: none;
}
#priviyet_toc_list {
    list-style-type: none;
}
